<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>

    <%- include('./partials/nav.ejs') %>
    

    <div class="about content">
        <h2> About us </h2>
        <p> this is a statement about me</p>
        <p> this is another statement about me!</p>
        <p> okay one last statement!</p>
    </div>

</body>

    <%- include("./partials/footer.ejs") %>
</html>