<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>George's Blog | <%= title %> </title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a href ="/"><h1>George's Blog</h1></a>
            <p>A George Leone Site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2> About us </h2>
        <p> this is a statement about me</p>
        <p> this is another statement about me!</p>
        <p> okay one last statement!</p>
    </div>

</body>
</html>